@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    width:100%;
    max-width:1440px;
    display: flex;
    flex-direction: column;   
}
   /*----Letras----*/
h1, h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height:42px;
    position: relative;
    letter-spacing: 0px;
}
.white{
    color:white;
}
h3{
    font-size: 24px;
    line-height: 32px;
}
p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;  
    letter-spacing: 0px; 
}
.episodios h2, .entrevistas h2{
    padding-left: 5%;
    padding-bottom: 5%;
}
/*----Header----*/
header{
    position:fixed;
    width: 100%;
    max-width: 1440px;
    height:44px;
    top:0;
    background: white;
    z-index:100;
    padding:0% 5%;
    display:flex;
    justify-content: space-between;
    align-items:center;  
}
header img{
    width: 24px;
    height: 24px; 
}
.mobile-menu__checkbox{
    width:30px;
    height: 30px;
    margin:-2%;
    position:absolute;
    z-index:2;  
    opacity:0;  
    cursor:pointer;  
}
.mobile-menu .fa-bars{
    position: absolute;
    z-index: 1;
}
.mobile-menu .fa-times{
    opacity:0;
}
.mobile-menu__container{
    width: 100%;
    position: absolute;
    background:#0000EC;
    top:44px;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
    display: flex;
}
/*Checked*/
.mobile-menu__checkbox:checked ~ .mobile-menu__container{
    height: 208px;
}
.mobile-menu__checkbox:checked ~ .fa-times{
    opacity:1;
}
.mobile-menu__checkbox:checked ~ .fa-bars{
    opacity:0;
}
.mobile-menu__list{
    position: absolute;
    list-style: none;
    padding-top:2%;
    display: flex;
    flex-wrap: wrap;  
}
.mobile-menu__item{
    width:100%;
    height: auto;
    padding: 3%;
    position: relative;   
}
.mobile-menu__item a{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color:white;
    line-height: 28px;    
}
.mobile-menu__item a:hover{
    cursor:pointer;
    text-decoration: line-through;
    color:black
}
.presentacion, .episodios, .nosotros, .entrevistas, .topicos{
    padding-bottom: 8%;
}
.presentacion, .nosotros__container, .topicos{
    width:90%;
    margin: 0px auto;
}
/*----Presentacion----*/
.presentacion{
    margin-top:20%;
}
.p__mobile{
    padding:5% 0px 10%;
}
.p__container{
    display:none;   
}
 /*----Boton----*/
.button{
    width:100%;
    height: 56px;
    background:#00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500; 
    font-size: 16px;
    line-height:22px;
    border:none;
    z-index: 2; /*x boton novedades*/ 
}
.button:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    cursor: pointer; 
}
/*----Episodios----*/
.episodios{
    padding-top:10%;
    position:relative;
}
.background{
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 115%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0% 100%); 
    z-index: -10;      
}
.episodios__container{
    width:98%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;      
}
.episodios__container-box{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex:2 0 298px;;
    justify-content: space-between;   
}
.episodios__container-box iframe{
    flex:1 1 auto;
    min-width: 295px;
    max-width:584px;
    height: 250px;
    padding-bottom: 0.2%;  
    border:none;
}
/*----Nosotros----*/
.nosotros{
    width:100%;
}
.imagen__container{
    width:100%;    
}
.imagen__container img{
    width: 120%; 
    position:relative;  
    top:50px;
    left:-25px;
}
.nosotros__container{
    padding-top:15%;
}
   /*----Imagenes----*/
.entrevistas__gallery{
    height: 243px;
}
.entrevistas__gallery img{
    min-width:320px;
    min-height: 243px;
    width:100%;
}
  /*----Topicos----*/
.topicos__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__items{
    text-align: center;
    margin:15% 0%;
}
.topicos__items img{
    padding-bottom:13px;
}
   /*----Novedades----*/
.novedades{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 341px;
    width: 100%;
    padding-left:5%;
    padding-right: 5%;
}
.novedades__bg{
    height: 100%;
    clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
}
.novedades h2{
    color: white;
    text-align: center;
}
/*----Footer----*/
footer{
    width: 100%;
    height: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;    
}
.container__social{
    display: inline-block;    
}
.fab{
    color:#060A24;
    padding:14px;
}    
.fab:hover{
    cursor:pointer;
    animation:rotate 2s linear infinite;
}
@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}   
/*----Media tablet----*/
@media screen and (min-width:320px){
    .nosotros{
        display: flex;
    }
    .imagen__container{
        width:50%;    
    }
    .imagen__container img{
        width: 100%;  
        left:20px;
        top:-70px;
    }
    .nosotros__container{
        width:45%;
    }
    .entrevistas__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(320px,50%));
    }
    .topicos__container{
        width:90%;
    }
    .topicos__items{
        width:50%;
    }
    footer{
        justify-content: space-around;    
    }
    .fab{
        color:#060A24;
        padding:0px 10px;
    } 
}
/*----Media desktop----*/
@media screen and (min-width:768px){
    h1{
        font-size: 64px;
        line-height:84px; 
    }
    h2{
        font-size: 48px;
        line-height:62px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    .button{
        font-size: 18px;
        line-height:24px;
    }
    .episodios h2, .entrevistas h2, .topicos h2{
        margin-left:10% 
    }
    /*----Header----*/
    header{
        height: 80px;
    }
    header img{
        width: 36px;
        height: 36px; 
    }
    .mobile-menu__checkbox{
        display:none;
    }
    .fa-bars{
        opacity: 0;
    }
    .mobile-menu__container{
        top:0;
        transition:none;
        height: 80px;
        width:50%;
        background: white;
        align-items: center; 
    }
    .mobile-menu__list{
       width: 100%;
       padding-top:0 ;
       display: flex;
       justify-content: space-between;
    }
    .mobile-menu__item{
        width:25%;
        padding:0;
        height: auto; 
    }
    .mobile-menu__item:hover{
        background:none;
    }
    .mobile-menu__item a{
        color:black;  
    }
    .mobile-menu__item a:hover{
        color:#00F3BB;
        text-decoration: line-through;
    }
    /*----Presentacion----*/
    .presentacion{
        width:75%;
    }
    .dot{
      color:#0000EC;
    }
    .p__mobile{
      display:none
    }
    .p__container{
      width:60%;
      display:flex;
    }
    .button-first{
        width:226px;
        margin-top:56px;  
    } 
     /*----Episodios----*/
     .background{
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); 
    }
    /*----Nosotros----*/
    .nosotros{
        display: flex;
    }
    .imagen__container{
        width:50%;
        display: flex;
        justify-content: flex-end;
    }
    .imagen__container img{
        width: 70%; 
        top:0; 
    }
    .nosotros__container{
       width:35%;
       padding-right: 2%;
    }
    /*----Entrevistas----*/
    .entrevistas__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(320px,33.33%));
    }
    .entrevistas__gallery img{
        height: 364px;
    }
    .entrevistas__gallery{
        height: 364px;
    }
    /*----Topicos----*/
    .topicos__container{
        width:100%;
        /*justify-content: flex-end;*/
    }
    .topicos__items{
        width: 20%;
        margin: 5% 0% 2%;
    }
    /*----Novedades----*/
    .novedades__bg{
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    }
    .button-last{
        width:345px;     
    }
    /*----Footer----*/
    footer{
        padding-left: 7%;
        padding-right: 6%;
        justify-content:space-between;
        align-items: center;    
    } 
}

